http://* https://* {
  tls {
    max_certs 10
  }

  basicauth {$AUTH_USER} {$AUTH_PASS} {
    "MonSec Cloud Stream"
    /
  }

  proxy /obs/ obs:5800 {
    without /obs
    websocket
  }

  proxy /obs-websocket/ obs:4444 {
    without /obs-websocket
    websocket
  }

  redir 302 {
    if {path} is /remote/
    "/remote/index.html#!auto&host={hostonly}&port={server_port}/obs-websocket/"
  }
  proxy /remote/ remote:5000 {
    without /remote
    websocket
  }

  proxy /netdata/ netdata:19999 {
    without /netdata
  }

  root /srv
}
